<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:include="fragments/header :: header-css(title=#{meethub.mygroups})">
</head>
<body>
	<div th:replace="fragments/header :: header(true)"></div>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1 th:text="#{meethub.mygroups}">
<!-- 						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> -->
					</h1>
				</div>
			</div>
		</div>
	</header>

	<section id="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="active">Memberships</li>
			</ol>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="list-group">
						<a href="#" class="list-group-item active main-color-bg"> <span
							class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							Actions
						</a> <a role="button" data-toggle="collapse" href="#createMeeting"
							class="list-group-item" aria-expanded="false"
							aria-controls="collapseExample"><span
							class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Add Meeting</span></a> <a href="#"
							class="list-group-item"><span
							class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Join Meeting</span></a>
					</div>

					<div class="well">
						<h4>Disk Space Used</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60"
								aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								60%</div>
						</div>
						<h4>Bandwidth Used</h4>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="40"
								aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								40%</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<!-- Website Overview -->
					<div class="panel panel-default collapse" id="createMeeting">
						<form method="POST" class="form-horizontal"
							th:action="@{saveMembership}" action="#"
							th:object="${meetingForm}">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">New Meeting</h3>
							</div>
							<div class="panel-body">

								<div class="form-group">
									<label for="meetingName"
										class="col-sm-2 control-label form-labels">Name</label>
									<div class="col-sm-10">
										<input th:field="*{name}" type="text" class="form-control"
											id="meetingName" placeholder="Meeting Name"></input>
									</div>
								</div>
								<div class="form-group">
									<label for="shortDesc"
										class="col-sm-2 control-label form-labels">Short
										Description</label>
									<div class="col-sm-10">
										<textarea name="shortDesc" th:field="*{shortDesc}" class="form-control"
											id="shortDesc" rows="3"
											placeholder="This Group main's objective is provide individuals with an alternate banking system"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label for="ctyOfIncorp"
										class="col-sm-2 control-label form-labels">Country of
										Incorporation</label>
									<div class="col-sm-10">
										<input th:field="*{countryOfIncorp}" type="text"
											class="form-control" id="ctyOfIncorp"
											placeholder="Bangladesh"></input>
									</div>
								</div>
								<div class="form-group">
									<label for="govId" class="col-sm-2 control-label form-labels">Government
										ID </label>
									<div class="col-sm-10">
										<input th:field="*{primaryId}" type="text"
											class="form-control" id="govId" placeholder="GI-1234"></input>
									</div>
								</div>
								<div class="form-group">
									<label for="terms" class="col-sm-2 control-label form-labels">Meeting
										Terms and Conditions</label>
									<div class="col-sm-10">
										<input type="file" id="terms"></input>
										<p class="help-block form-labels">Upload terms and
											conditions document</p>
									</div>
								</div>

							</div>
							<div class="panel-footer">
								<button type="submit" class="btn btn-default blue-btn">Create
									Meeting</button>
							</div>
						</form>
					</div>
					
					<div th:if="${#lists.isEmpty(memberships)}" class="well well-lg" style="background-color:white;"><span
							class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;<span th:text="#{meeting.no_meeting_msg}"></span></div>

					<!-- Meetings -->
					<div class="panel-group" id="accordion" role="tablist"
						aria-multiselectable="true"
						th:unless="${#lists.isEmpty(memberships)}">
						<div th:each="membership, iStat : ${memberships}"
							class="panel panel-default">
							<div class="panel-heading main-color-bg" role="tab"
								id="headingOne" th:attr="id='heading-' + ${membership.id}">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										aria-expanded="true" role="button"
										th:attr="aria-controls='collapse-' + ${membership.id}, href='#collapse-' + ${membership.id}, class=${iStat.first}? '':'collapsed'"
										th:text="${membership.meeting.name}"> Meeting #1 </a>
								</h4>
							</div>
							<div id="collapseOne"
								th:attr="id='collapse-' + ${membership.id}, aria-labelledby='heading-' + ${membership.id}, 
								class='panel-collapse collapse' + (${iStat.first}? ' in':'')"
								class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingOne">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 headlines"
											th:text="${membership.meeting.shortDesc}">Anim pariatur
											cliche reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod.</div>
									</div>
									<div class="row">
										<div class="col-md-7">
											<a class="btn btn-default blue-btn" th:href="@{'/' + ${membership.id} + '/Accounts'}">Go
												to Meeting</a>
										</div>
										<div class="col-md-5">
											<a href="#">Inbox <span class="badge">42</span></a> <a
												href="#">Reminders <span class="badge">2</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>