<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:include="fragments/header :: header-css(title=#{meethub.myaccount})">
</head>
<body>
	<div th:replace="fragments/header :: header(true)"></div>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>
						<i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;&nbsp; <span
							th:text="${membership.meeting.name}">Meeting 101</span>
					</h1>
				</div>
			</div>
		</div>
	</header>

	<section id="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="active" th:text="#{meethub.myaccount}">Memberships</li>
			</ol>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="list-group" role="tablist">
						<a href="#" class="list-group-item active main-color-bg"> <span
							class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
							Menu
						</a> <a role="tab" data-toggle="tab" href="#overview"
							class="list-group-item"><span
							class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Overview</span></a> <a role="tab" data-toggle="tab"
							href="#transactions" class="list-group-item"><span
							class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Transactions</span></a> <a role="tab"
							data-toggle="tab" href="#messages" class="list-group-item"><span
							class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Messages</span></a><a role="tab" data-toggle="tab"
							href="#roaster" class="list-group-item"><span
							class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Roaster</span></a><a role="tab" data-toggle="tab"
							href="#settings" class="list-group-item"><span
							class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Settings</span></a>
					</div>

					<div class="well">
						<h4>Announcements</h4>
						<div class="alert alert-info" role="alert">
							Heads up! This <a href="#" class="alert-link">alert needs
								your attention</a>, but it's not super important.
						</div>
					</div>
				</div>
				<div class=" tab-content col-md-9">
					<div role="tabpanel" class="tab-pane fade in active" id="overview">
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Overview</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-4">
									<canvas id="myChart" width="200" height="200"></canvas>
								</div>
								<div class="col-md-8">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="row">
												<div class="col-xs-6">
													<!--<i class="fa fa-comments fa-5x"></i>-->
													<h4>Primary Balance:</h4>
												</div>
												<div class="col-xs-6 text-right">
													<h4>
														<i class="fa fa-usd" aria-hidden="true"></i> <span>0.00</span>
													</h4>
												</div>
											</div>
										</div>
										<a th:href="@{/account/primaryAccount}">
											<div class="panel-footer">
												<span class="pull-left">View Details</span> <span
													class="pull-right"><i
													class="fa fa-arrow-circle-right"></i></span>
												<div class="clearfix"></div>
											</div>
										</a>
									</div>
									<div class="panel panel-success">
										<div class="panel-heading">
											<div class="row">
												<div class="col-xs-6">
													<h4>Savings Balance:</h4>
												</div>
												<div class="col-xs-6 text-right">
													<h4>
														<i class="fa fa-usd" aria-hidden="true"></i> <span>0.00</span>
													</h4>
												</div>
											</div>
										</div>
										<a th:href="@{/account/savingsAccount}">
											<div class="panel-footer">
												<span class="pull-left">View Details</span> <span
													class="pull-right"><i
													class="fa fa-arrow-circle-right"></i></span>
												<div class="clearfix"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Yearly Days Financial Trend</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<canvas id="finTrenChart" width="550" height="200"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="messages"></div>
					<div role="tabpanel" class="tab-pane fade" id="roaster"></div>
					<div role="tabpanel" class="tab-pane fade" id="transactions">
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Initiate a Transaction</h3>
							</div>
							<div class="panel-body">
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-money" aria-hidden="true"></i>
										</h3>
										<h4>
											<a href="#deposit" role="button" data-toggle="modal">
												<div class="panel-footer">
													<span class="pull-left">Deposit</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-credit-card" aria-hidden="true"></i>
										</h3>
										<h4>
											<a th:href="@{/account/withdraw}">
												<div class="panel-footer">
													<span class="pull-left">Withdraw</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-exchange" aria-hidden="true"></i>
										</h3>
										<h4>
											<a th:href="@{/account/transfer}">
												<div class="panel-footer">
													<span class="pull-left">Transfer</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-book" aria-hidden="true"></i>
										</h3>
										<h4>
											<a th:href="@{/account/Enquire}">
												<div class="panel-footer">
													<span class="pull-left">Enquire</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Latest Transactions</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<input class="form-control" type="text"
											placeholder="Filter Transactions..."></input>
									</div>
								</div>
								<br></br>
								<table class="table table-striped table-hover">
									<tr>
										<th>Title</th>
										<th>Published</th>
										<th>Created</th>
										<th></th>
									</tr>
									<tr>
										<td>Blog Post 1</td>
										<td><span class="glyphicon glyphicon-ok"
											aria-hidden="true"></span></td>
										<td>Dec 12, 2016</td>
										<td><a class="btn btn-default" href="edit.html">Edit</a>
											<a class="btn btn-danger" href="#">Delete</a></td>
									</tr>
									<tr>
										<td>Blog Post 2</td>
										<td><span class="glyphicon glyphicon-ok"
											aria-hidden="true"></span></td>
										<td>Dec 13, 2016</td>
										<td><a class="btn btn-default" href="edit.html">Edit</a>
											<a class="btn btn-danger" href="#">Delete</a></td>
									</tr>
									<tr>
										<td>Blog Post 3</td>
										<td><span class="glyphicon glyphicon-remove"
											aria-hidden="true"></span></td>
										<td>Dec 13, 2016</td>
										<td><a class="btn btn-default" href="edit.html">Edit</a>
											<a class="btn btn-danger" href="#">Delete</a></td>
									</tr>
									<tr>
										<td>Blog Post 4</td>
										<td><span class="glyphicon glyphicon-ok"
											aria-hidden="true"></span></td>
										<td>Dec 14, 2016</td>
										<td><a class="btn btn-default" href="edit.html">Edit</a>
											<a class="btn btn-danger" href="#">Delete</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="settings"></div>
				</div>
				<div class="modal fade" tabindex="-1" role="dialog" id="deposit"
					aria-labelledby="gridSystemModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header main-color-bg">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="gridSystemModalLabel">Deposit</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-4">.col-md-4</div>
									<div class="col-md-4 col-md-offset-4">
										<ul class="list-group">
											<li class="list-group-item list-group-item-success"><div
													class="row">
													<div class="col-xs-6">
														<!--<i class="fa fa-comments fa-5x"></i>-->
														<h4>Primary Balance:</h4>
													</div>
													<div class="col-xs-6 text-right">
														<h4>
															<i class="fa fa-usd" aria-hidden="true"></i> <span>0.00</span>
														</h4>
													</div>
												</div></li>
											<li class="list-group-item list-group-item-info"><div
													class="row">
													<div class="col-xs-6">
														<h4>Savings Balance:</h4>
													</div>
													<div class="col-xs-6 text-right">
														<h4>
															<i class="fa fa-usd" aria-hidden="true"></i> <span>0.00</span>
														</h4>
													</div>
												</div></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-md-offset-3">.col-md-3
										.col-md-offset-3</div>
									<div class="col-md-2 col-md-offset-4">.col-md-2
										.col-md-offset-4</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-md-offset-3">.col-md-6
										.col-md-offset-3</div>
								</div>
								<div class="row">
									<div class="col-sm-9">
										Level 1: .col-sm-9
										<div class="row">
											<div class="col-xs-8 col-sm-6">Level 2: .col-xs-8
												.col-sm-6</div>
											<div class="col-xs-4 col-sm-6">Level 2: .col-xs-4
												.col-sm-6</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save
									changes</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</section>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>