<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:include="fragments/header :: header-css(title=#{meethub.myaccount})">
</head>
<body>
	<div th:replace="fragments/header :: header(true)"></div>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>
						<i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;&nbsp; <span
							th:text="${membership.meeting.name}">Meeting 101</span>
					</h1>
				</div>
			</div>
		</div>
	</header>

	<section id="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="active" th:text="#{meethub.myaccount}">Memberships</li>
			</ol>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="list-group" role="tablist">
						<a href="#" class="list-group-item active main-color-bg"> <span
							class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
							Menu
						</a> <a role="tab" data-toggle="tab" href="#overview"
							class="list-group-item"><span
							class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Overview</span></a> <a role="tab" data-toggle="tab"
							href="#transactions" class="list-group-item"><span
							class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Transactions</span></a> <a role="tab"
							data-toggle="tab" href="#messages" class="list-group-item"><span
							class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Messages</span></a><a role="tab" data-toggle="tab"
							href="#roaster" class="list-group-item"><span
							class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Roaster</span></a><a role="tab" data-toggle="tab"
							href="#settings" class="list-group-item"><span
							class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;<span
							class="actions">Settings</span></a>
					</div>

					<div class="well">
						<h4>Announcements</h4>
						<div class="alert alert-info" role="alert">
							Heads up! This <a href="#" class="alert-link">alert needs
								your attention</a>, but it's not super important.
						</div>
					</div>
				</div>
				<div class=" tab-content col-md-9">
					<div role="tabpanel" class="tab-pane fade in active" id="overview">
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Overview</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-4">
									<canvas id="myChart" width="200" height="200"></canvas>
								</div>
								<div class="col-md-8">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="row">
												<div class="col-xs-6">
													<!--<i class="fa fa-comments fa-5x"></i>-->
													<h4>Primary Balance:</h4>
												</div>
												<div class="col-xs-6 text-right">
													<h4>
														<i class="fa fa-usd" aria-hidden="true"></i> <span
															th:text="${membership.primaryAccount.accountBalance}">0.00</span>
													</h4>
												</div>
											</div>
										</div>
										<a th:href="@{/account/primaryAccount}">
											<div class="panel-footer">
												<span class="pull-left">View Details</span> <span
													class="pull-right"><i
													class="fa fa-arrow-circle-right"></i></span>
												<div class="clearfix"></div>
											</div>
										</a>
									</div>
									<div class="panel panel-success">
										<div class="panel-heading">
											<div class="row">
												<div class="col-xs-6">
													<h4>Savings Balance:</h4>
												</div>
												<div class="col-xs-6 text-right">
													<h4>
														<i class="fa fa-usd" aria-hidden="true"></i> <span
															th:text="${membership.savingsAccount.accountBalance}">0.00</span>
													</h4>
												</div>
											</div>
										</div>
										<a th:href="@{/account/savingsAccount}">
											<div class="panel-footer">
												<span class="pull-left">View Details</span> <span
													class="pull-right"><i
													class="fa fa-arrow-circle-right"></i></span>
												<div class="clearfix"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Yearly Days Financial Trend</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<canvas id="finTrenChart" width="550" height="200"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="messages">
						<div class="panel-heading main-color-bg">
							<h3 class="panel-title">New Message</h3>
						</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label th:text="#{meethub.emailTo}">To</label> <input
										type="text" class="form-control" placeholder="Recipient"
										name="recipient" />
								</div>
								<div class="form-group">
									<label th:text="#{meethub.emailSubject}">Subject</label> <input
										type="text" class="form-control"
										placeholder="Important Request" name="subject" />
								</div>
								<div class="form-group">
									<label th:text="#{meethub.emailBody}">Body</label>
									<textarea name="emailBody" class="form-control"
										placeholder="Page Body" id="emailBody">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </textarea>
								</div>
								<input type="submit" class="btn btn-default" value="Send" />
							</form>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="roaster"></div>
					<div role="tabpanel" class="tab-pane fade" id="transactions">
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Initiate a Transaction</h3>
							</div>
							<div class="panel-body">
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-credit-card" aria-hidden="true"></i>
										</h3>
										<h4>
											<a href="#deposit" role="button" data-toggle="modal">
												<div class="panel-footer">
													<span class="pull-left">Deposit</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-exchange" aria-hidden="true"></i>
										</h3>
										<h4>
											<a th:href="@{/account/transfer}">
												<div class="panel-footer">
													<span class="pull-left">Transfer</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="well dash-box">
										<h3>
											<i class="fa fa-book" aria-hidden="true"></i>
										</h3>
										<h4>
											<a th:href="@{/account/Enquire}">
												<div class="panel-footer">
													<span class="pull-left">Enquire</span> <span
														class="pull-right"><i
														class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading tabbed-nav main-color-bg">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#checking"
										th:text="#{meethub.accountType.primary}">Checking</a></li>
									<li><a data-toggle="tab" href="#savings"
										th:text="#{meethub.accountType.savings}">Savings</a></li>
									<li><a data-toggle="tab" href="#loans"
										th:text="#{meethub.accountType.loan}">Loans</a></li>
									<li><a data-toggle="tab" href="#transfers"
										th:text="#{meethub.accountType.transfers}">Transfers</a></li>
								</ul>
							</div>
							<div class="panel-body tab-content">
								<div id="checking" class="tabs-custom tab-pane fade in active">
									<div class="row">
										<div class="col-md-8">
											<input class="form-control" type="text"
												placeholder="Filter Transactions..."></input>
										</div>
									</div>
									<br></br>
									<div class="table-responsive">
										<table class="table table-striped table-hover transactions-tbl">
											<thead>
												<tr>
													<th>Post Date</th>
													<th>Description</th>
													<th>Type</th>
													<th>Status</th>
													<th>Amount</th>
													<th>Available Balance</th>
												</tr>
											</thead>
											<tbody>
												<tr
													data-th-each="primaryTransaction : ${primaryTransactionList}">
													<td data-th-text="${primaryTransaction.date}">...</td>
													<td data-th-text="${primaryTransaction.description}">...</td>
													<td data-th-text="${primaryTransaction.type}">...</td>
													<td data-th-text="${primaryTransaction.status}">...</td>
													<td data-th-text="${primaryTransaction.amount}">...</td>
													<td data-th-text="${primaryTransaction.availableBalance}">...</td>
												</tr>
											</tbody>
										</table>
										<hr/>
										<ul class="nav nav-pills">
											<li class="nav-item" th:each="i : ${#numbers.sequence(0,primaryTransactionList.totalPages -1)}">
												<a th:text="${i}" class="nav-link"></a>
											</li>
										</ul>
									</div>
								</div>
								<div id="savings" class="tab-pane fade"></div>
								<div id="loans" class="tab-pane fade"></div>
								<div id="transfers" class="tab-pane fade"></div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="settings"></div>
				</div>
				<div class="modal fade" tabindex="-1" role="dialog" id="deposit"
					aria-labelledby="gridSystemModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<form method="POST" class="form-horizontal"
								th:action="@{/account/deposit}" action="#"
								th:object="${depositForm}" id="depositForm">
								<div class="modal-header main-color-bg">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="gridSystemModalLabel">Deposit/Withdraw</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-8">
											<div class="row cs-form-group">
												<div class="form-group col-md-12">
													<label for="accountType" class="form-labels">1.
														Please select type of operation:</label> <select
														class="form-control" th:field="*{operationType}"
														name="operationType" id="operationType"
														required="required">
														<option disabled="disabled" value="default"
															selected="selected">-- select operation --</option>
														<option th:each="type : ${operationTypes}"
															th:value="${type}"
															th:text="#{${'meethub.operationType.' + type}}">Deposit</option>
													</select> <br />
												</div>
											</div>
											<div class="row cs-form-group">
												<div class="form-group col-md-12">
													<label for="accountType" class="form-labels">2.
														Please select the account you would like to deposit:</label> <select
														class="form-control" th:field="*{accountType}"
														name="accountType" id="accountType" required="required">
														<option disabled="disabled" value="default"
															selected="selected">-- select your account --</option>
														<option th:each="type : ${accountTypes}"
															th:value="${type}"
															th:text="#{${'meethub.accountType.' + type}}" value="">Primary</option>
													</select> <br />
												</div>
											</div>
											<div class="row cs-form-group">
												<div class="form-group col-md-12">
													<label class="form-labels">3. Please specify the
														amount you would like to deposit: </label>
													<div class="input-group">
														<span class="input-group-addon">$</span> <input
															th:field="*{amount}" type="text" name="amount"
															id="amount" class="form-control"
															aria-label="Amount (to the nearest dollar)" />
													</div>
												</div>
											</div>
											<input type="hidden" />
										</div>
										<div class="col-md-4">
											<ul class="list-group balance-display">
												<li
													class="list-group-item list-group-item-success custom-group-item"><div
														class="row">
														<div class="col-md-7">
															<span>Primary Balance:</span>
														</div>
														<div class="col-md-5">
															<i class="fa fa-usd" aria-hidden="true"></i> <span
																th:text="${membership.primaryAccount.accountBalance}">0.00</span>
														</div>
													</div></li>
												<li
													class="list-group-item list-group-item-info custom-group-item"><div
														class="row">
														<div class="col-md-7">
															<span>Savings Balance:</span>
														</div>
														<div class="col-md-5">
															<i class="fa fa-usd" aria-hidden="true"></i> <span
																th:text="${membership.savingsAccount.accountBalance}">0.00</span>
														</div>
													</div></li>
											</ul>

											<div id="confirmationMsg"></div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-primary all-btn"
										id="deposit">Deposit</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</section>

	<div th:replace="fragments/footer :: footer"></div>
	<!-- <script>
    $(document).ready(function() {
        $('.transactions-tbl').DataTable();
    } );
</script> -->

</body>
</html>