html {
	min-height: 100%;
	position: relative;
}

body {
	background: #f4f4f4;
	padding-bottom: 70px;
	min-height: 100%;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar {
	background-color: #ffffff;
}

.navbar .navbar-brand {
	color: #afc836;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #009eda;
}

.navbar .navbar-nav .nav-link:not (.disabled ):hover, .navbar .navbar-nav .nav-link:not
	 (.disabled ):focus {
	color: #009eda;
}

.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item.active .nav-link:hover,
	.navbar-nav .nav-item.active .nav-link:focus, .navbar-nav .nav-item.show .nav-link,
	.navbar-nav .nav-item.show .nav-link:hover, .navbar-nav .nav-item.show .nav-link:focus
	{
	color: #009eda;
	background-color: #ffffff;
}

.navbar .navbar-toggle {
	border-color: #afc836;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: #afc836;
}

.navbar .navbar-toggle .navbar-toggler-icon {
	color: #ffffff;
}

.navbar .navbar-collapse, .navbar .navbar-form {
	border-color: #ffffff;
}

.navbar .navbar-link:hover {
	color: #009eda;
}

.main-color-bg {
	background-color: #afc836 !important;
	color: #ffffff !important;
	border-color: #ddd !important;
}

/* Header */
#header {
	background: #009eda;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

#header .create {
	padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb {
	background: #cccccc;
	color: #333333;
}

.breadcrumb a {
	color: #333333;
}

/* Progress Bars */
.progress-bar {
	background: #afc836;
	color: #ffffff;
}

/* Footer */
/* Footer */
.footer {
	color: #009eda;
	text-align: center;
	font-weight: bold;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	padding: 20px;
	background: #cccccc;
}

/* Badges */
.actions {
	color: orange;
}

.list-group-item, .nav-link {
	padding-left: 30px;
	padding-right: 100px;
}

/* Login Form */
section#main .login-form {
	margin-top: 180px;
}

.form-labels, .navbar-text {
	font-weight: normal;
	color: #555;
}

.welcome-text, .navbar-username {
	margin-right: 0px;
}

.navbar-username {
	margin-left: 7px;
}

.navbar-punctuation {
	margin-left: 0px;
}

.all-btn {
	background-color: #afc836;
	color: white;
	border-color: #cccccc;
}

.headlines {
	padding-bottom: 10px;
	color: #555;
	font-size: 12px;
}

.all-btn:hover, .all-btn:focus {
	background-color: #009eda;
	color: white;
	border-color: #cccccc;
}

/* Tabbed navigation styles */
.tabbed-nav {
	padding: 0;
	border: none;
}

.tabbed-nav .nav-tabs>li>a {
	color: white;
}

.tabbed-nav .nav-tabs>li.active>a {
	color: #009eda;
	border-bottom: 5px solid #009eda;
}

.tabbed-nav .nav-tabs>li.active>a {
	color: #009eda;
	border-bottom: 5px solid #009eda;
}

.glyphicon-ok-sign {
	color: orange;
}

.blue-btn {
	background-color: #009eda;
	color: white;
	border-color: #cccccc;
}

.nav>li>.logout-icon {
	display: inline;
}

.nav-link.active, .nav-link.hover {
	background-color: #cccccc;
	border-color: #ddd;
}

.fa-print, .fa-minus-circle, .fa-plus-circle, .fa-exchange-alt, .fa-times {
	color: #afc836;
}

.dash-box {
	text-align: center;
	margin-bottom: 10px;
	padding: 0px;
}

.custom-group-item {
	padding-left: 0px;
	padding-right: 0px;
}

.balance-display {
	margin-top: 40px;
}

/* Devices styles */
@media ( max-width : 575px) {
	.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #009eda;
	}
	.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #009eda;
		background-color: #afc836;
	}
}

@media ( max-width : 767px) {
	.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #009eda;
	}
	.navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #009eda;
		background-color: #afc836;
	}
}

@media ( max-width : 991px) {
	.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #009eda;
	}
	.navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #009eda;
		background-color: #afc836;
	}
}

@media ( max-width : 1199px) {
	.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
		color: #ffffff;
	}
	.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
		.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus
		{
		color: #009eda;
	}
	.navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active
		{
		color: #009eda;
		background-color: #afc836;
	}
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
	color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
	.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
	color: #009eda;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
	color: #009eda;
	background-color: #afc836;
}

/* Added by Yvan to push footer down the page based on content */
.navbar-fixed-bottom {
	position: absolute;
	bottom: 0;
	z-index: 0;
}

.cs-form-group{
	padding-left: 15px;
}

div.table-responsive > table > thead > tr > th {
	color: #009eda;
	font-size: 12px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
}

.dropdown-container > a {
	background-color: #ffffff;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-left: 15px;
  padding-top: 3px;
}

.sub-menu{
	padding-left: 60px;
}

.act-summary-bal-div{
	color: slategrey;
	font-size: 100px;
	font-style: italic;
	border-bottom-style: solid;
	border-bottom-color: darkgray;
	margin-right: 15px;
}

.btn-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 45px;
    line-height: 2;
    border-radius: 50%;
    color: slategrey;
    background-color: #d9edf7;
}

.btn-circle:hover {
  background-color: #009eda;
  color: white;
}

div.panel-footer.act-summary-actions > div > button{
	color: orange;
}

.act-details-values{
	color: slategrey;
	border-bottom-style: solid;
	border-bottom-color: darkgray;
}

.act-details-labels{
	color: #009eda;
}

div.panel.panel-default.act-summary > div.panel-body{
	border-bottom-style: double;
	border-bottom-color: #afc836;
}

#balance-lab{
	text-align: center;
}

#depositForm{
	display: none;
}