<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css(title=#{meethub.signup})">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1>
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					Sign Up <small> Setup An Account</small>
				</h1>
			</div>
		</div>
	</div>
</header>

<section id="breadcrumb">
	<div class="container">
		<ol class="breadcrumb">
			<li class="active">Registration</li>
		</ol>
	</div>
</section>

<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<a href="index.html" class="list-group-item active main-color-bg">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						Steps
					</a> <a href="#about-you" class="list-group-item"><span
						class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
						About You</a> <a href="#credentials" class="list-group-item"><span
						class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
						Credentials</a> <a href="#other" class="list-group-item"><span
						class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
						Additional Info</a>
				</div>

				<div class="well">
					<h4>User Agreement</h4>
					<p>By clicking Sign Up, you agree to our Terms and that you
						have read our Data Policy, including our Cookie Use.</p>
				</div>
			</div>
			<div class="col-md-9">
				<form method="POST" th:action="@{register.go}" action="#"
					th:object="${userForm}">
					<div class="panel panel-default">
						<div class="panel-heading tabbed-nav main-color-bg">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#about-you">About
										You</a></li>
								<li><a data-toggle="tab" href="#credentials">Credentials</a></li>
								<li><a data-toggle="tab" href="#other">Additional Info</a></li>
							</ul>
						</div>
						<div class="panel-body tab-content">
							<div id="about-you" class="tab-pane fade in active">

								<div class="form-group form-inline">
									<label for="name_label" class="col-md-2 control-label form-labels">Your
										Name</label>
									<div class="form-group">
										<input th:field="*{firstName}" type="text"
											class="form-control" name="firstname" id="firstname"
											placeholder="First Name" />
									</div>
									<div class="form-group">
										<input th:field="*{middleName}" type="text"
											class="form-control" name="middlename" id="middlename"
											placeholder="Middle Name" />
									</div>
									<div class="form-group">
										<input th:field="*{lastName}" type="text" class="form-control"
											name="lastname" id="lastname" placeholder="Last Name" />
									</div>
								</div>
								<div class="form-group form-inline">
									<label for="birthday" class="col-md-2 control-label form-labels">Date
										of Birth</label> <input th:field="*{birthdate}" type='date'
										class="form-control" name="birthdate" id="birthdate" />
								</div>
								<div class="form-group">
									<label for="gender" class="col-md-2 control-label form-labels">Gender</label>
									<label class="radio-inline"> <input type="radio"
										th:field="*{gender}" name="gender" id="male" value="M" /> Male
									</label> <label class="radio-inline"> <input type="radio"
										th:field="*{gender}" name="gender" id="female" value="F" />
										Female
									</label>
								</div>
								<div class="form-group form-inline">
									<label for="marital_status" class="col-md-2 control-label form-labels">Marital
										Status</label> <select th:field="*{maritalStatusCd}"
										id="marital_status" class="form-control">
										<option value="0">Single</option>
										<option value="1">Married</option>
										<option value="2">Divorced</option>
										<option value="3">Widow</option>
									</select>
								</div>
								<div class="form-group form-inline">
									<label for="citizenship" class="col-md-2 control-label form-labels">Citizenship</label>
									<div class="form-group">
										<input th:field="*{citizenship}" type="text"
											class="form-control" name="citizenship" id="citizenship"
											placeholder="Cameroonian" />
									</div>
								</div>

								<div class="form-group form-inline">
									<label for="primaryIdType" class="col-md-3 control-label form-labels">Primary
										ID Type </label> <select th:field="*{primaryIdType}"
										id="primaryIdType" class="form-control">
										<option value="PP">Passport</option>
										<option value="SSN">SSN</option>
										<option value="NID">National ID</option>
										<option value="Others">Others</option>
									</select>
								</div>
								<div class="form-group form-inline">
									<label for="primaryId" class="col-md-2 control-label form-labels">ID
										#</label>
									<div class="form-group">
										<input th:field="*{primaryId}" type="text"
											class="form-control" name="primaryId" id="primaryId"
											placeholder="12345566" />
									</div>
								</div>

								<!-- <div class="form-group">
									<label for="picture" class="col-md-2 control-label form-labels">Profile
										Picture</label>
									<input th:field="*{picture}" type="file" id="picture" />
								</div> -->
							</div>
							<div id="credentials" class="tab-pane fade">
								<div class="form-group form-inline">
									<label for="email" class="col-md-3 control-label form-labels">Email</label> <input
										th:field="*{email}" type="email" class="form-control"
										name="email" id="email" placeholder="yguiathe@tayfint.com" />
								</div>
								<div class="form-group form-inline">
									<label for="username" class="col-md-3 control-label form-labels">Username</label>
									<input th:field="*{username}" type="text" class="form-control"
										name="username" id="username" placeholder="tayfint.10" />
								</div>
								<div class="form-group form-inline">
									<label for="password" class="col-md-3 control-label form-labels">Password</label>
									<input th:field="*{password}" type="password"
										class="form-control" name="password" id="password"
										placeholder="password1" />
								</div>
								<div class="form-group form-inline">
									<label for="cpassword" class="col-md-3 control-label form-labels">Confirm
										Password</label> <input th:field="*{confirmPassword}" type="password"
										class="form-control" name="cpassword" id="cpassword"
										placeholder="password1" />
								</div>
							</div>
							<div id="other" class="tab-pane fade">
								<div class="form-group form-inline">
									<label for="occupation" class="col-md-3 control-label form-labels">Occupation</label>
									<div class="form-group">
										<input th:field="*{occupation}" type="text"
											class="form-control" name="occupation" id="occupation"
											placeholder="Systems Analyst" />
									</div>
								</div>
								<div class="form-group form-inline">
									<label class="col-md-3 control-label form-labels" for="salary">Monthly
										Income (in dollars)</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input th:field="*{monthlySalary}" type="text"
											class="form-control" id="salary" placeholder="200000" />
										<div class="input-group-addon">.00</div>
									</div>
								</div>
								<div class="form-group form-inline">
									<label for="education" class="col-md-3 control-label form-labels">Highest
										Level of Education</label>
									<div class="form-group">
										<input th:field="*{education}" type="text"
											class="form-control" name="education" id="education"
											placeholder="Masters in Cybersecurity" />
									</div>
								</div>

								<div class="form-group form-inline">
									<label for="employmentstatuscd" class="col-md-3 control-label form-labels">Employment
										Status</label> <select th:field="*{employmentStatusCd}"
										id="employmentstatuscd" class="form-control">
										<option value="0">Self-Employed</option>
										<option value="1">Employed</option>
										<option value="2">Unemployed</option>
										<option value="3">Retired</option>
									</select>
								</div>
								<div class="form-group form-inline">
									<label for="employer" class="col-md-3 control-label form-labels">Employer</label>
									<div class="form-group">
										<input th:field="*{employer}" type="text" class="form-control"
											name="employer" id="employer" placeholder="Actimize, Inc." />
									</div>
								</div>

							</div>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-9"></div>
								<div class="col-md-3">
									<button type="submit" class="btn btn-default all-btn">Sign
										Up</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
