<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="footer">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container footer">
				<p>Tayfint, Inc. &copy; 2018</p>
			</div>
		</nav>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/static/js/jquery.min.js}"
			src="../../../static/js/jquery.min.js"></script>

		<script th:src="@{/static/js/bootstrap/bootstrap.min.js}"
			src="../../../static/js/bootstrap/bootstrap.min.js"></script>
		<script th:src="@{/static/js/add-ons/Chart.min.js}"
			src="../../../static/js/add-ons/Chart.min.js"></script>
		<script th:src="@{/static/js/add-ons/moment.js}"
			src="../../../static/js/add-ons/moment.js"></script>
		<script th:src="@{/static/js/app_charts.js}"
			src="../../../static/js/app_charts.js"></script>
		<script th:src="@{/static/js/app_financial.js}"
			src="../../../static/js/app_financial.js"></script>
		<script type="text/javascript" charset="utf8"
			src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script>
			if(document.getElementById('shortDesc') != null)
     			CKEDITOR.replace( 'shortDesc' );
			if(document.getElementById('emailBody') != null)
     			CKEDITOR.replace( 'emailBody' );
		</script>
	</div>
</body>
</html>