<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="checkingActTrxPage">
		<table id="trxPage">
			<tbody>
				<tr data-th-each="primaryTransaction : ${primaryTransactionList}">
					<td data-th-text="${primaryTransaction.date}">...</td>
					<td data-th-text="${primaryTransaction.description}">...</td>
					<td data-th-text="${primaryTransaction.type}">...</td>
					<td data-th-text="${primaryTransaction.status}">...</td>
					<td data-th-text="${primaryTransaction.amount}">...</td>
					<td data-th-text="${primaryTransaction.availableBalance}">...</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>